section.advantages
  .container.advantages__container 
    .advantages__main-block
      h2.section-title.advantages__title Our Advantages
      ul.advantages__list
        li.advantages__item 
          .advantages__icon
            img(
              src=require("@img/advantages/computer.svg")
              alt="Computer"
              width="80"
              height="80"
            )
          .advantages__description
            h3.advantages__advantage-title Easy
            p.advantages__advantage-text 
              | An interface that is easy to use even for beginners 
        li.advantages__item
          .advantages__icon 
            img(
              src=require("@img/advantages/api.svg")
              alt="API"
              width="80"
              height="80"
            )
          .advantages__description
            h3.advantages__advantage-title Intuitive
            p.advantages__advantage-text 
              | An api usable even by non-developers 
        li.advantages__item
          .advantages__icon 
            img(
              src=require("@img/advantages/servers.svg")
              alt="Servers"
              width="80"
              height="80"
            )
          .advantages__description
            h3.advantages__advantage-title Flexible
            p.advantages__advantage-text 
              | Can be integrated on several systems for all your needs 
        li.advantages__item
          .advantages__icon 
            img(
              src=require("@img/advantages/api2.svg")
              alt="API"
              width="80"
              height="80"
            )
          .advantages__description
            h3.advantages__advantage-title Reliable
            p.advantages__advantage-text 
              | You just have to see our statue page to understand why we are so appreciated. 
    .advantages__image
