//- Mixins
include ../mixins/picture
include ../mixins/svg-icon
include ../mixins/search-form
include ../mixins/form-input

//- Content
include ../content/content

//- Custom variables
- var page="default"

block vars

doctype html
html(lang="en")
  head
    //- Meta data
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(
      name="viewport",
      content=`
        height=device-height, 
        width=device-width, initial-scale=1.0, 
        minimum-scale=1.0, maximum-scale=1.0, 
        user-scalable=no, target-densitydpi=device-dpi
      `
    )
    meta(name="theme-color" content="#ffffff")
    
    //- Favicons
    link(rel="icon", href=require("@public/favicon.svg"))
    link(rel="icon", href=require("@public/mask-icon.svg"), color="#000000")
    link(rel="apple-touch-icon", href=require("@public/apple-touch-icon.png"))

    //- Manifest
    link(rel="manifest", href="manifest.json")
    
    //- Styles
    link(rel="stylesheet", href=require("@styles/index.scss"))
    block styles
    
    //- Document title
    title
      block title
  body
    .page
      //- Header
      include header
      
      //- Main content
      main
        block body
      
      //- Footer
      include footer

      //- Overlay
      .page__overlay.js-menu-btn

      //- Fixed buttons
      include fixed-buttons
  
    //- Mobile menu
    include mobile-menu

    script(src=require("@js/app.js"))
